body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EA2C62;
  }
  
  .container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #EA2C62;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  form {
    display: grid;
    gap: 10px;
  }
  
  label {
    font-weight: bold;
  }
  
  input,
  textarea,
  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #EA2C62;
    border-radius: 3px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #EA2C62;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  .skill-input {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  select {
    padding: 5px;
    margin-right: 10px;
  }
  
  .remove-button {
    background-color: #dc3545;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  