<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/css/job-post.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <title>Job Posting</title>
</head>

<body>
  <div class="container">
    <h1 class="text-center">Post Your Job</h1>
    <form id="jobForm">
      <label for="jobTitle">Job Title:</label>
      <input type="text" id="jobTitle" required>

      <label for="jobDescription">Job Description:</label>
      <textarea id="jobDescription" rows="4" required></textarea>

      <label for="jobMode">Job Mode:</label>
      <select id="jobMode" required>
        <option value="fullTime">Full Time</option>
        <option value="partTime">Part Time</option>
        <option value="contract">Contract</option>
      </select>
      <label for="salaryRange">Salary (Approximately):</label>
      <input type="range" id="salaryRange" name="salaryRange" min="1000" max="100000" step="1000" value="5000">
      <p>Selected Value: <span id="rangeValue">5000</span></p>

      <h4>Required Skills:</h4>
      <div class="skills-section" id="skillsSection">
        <!-- Skills will be dynamically added here -->
      </div>
      <button type="button" class="add-button" onclick="addSkillInput()">+ Add skill</button>
      <button type="submit">Post Job</button>
    </form>

    <div id="postedJobs"></div>
  </div>
  <script src="static/js/job-post.js"></script>
</body>

</html>
