<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/job-post.css">
    <title>SmartHire - Post a Job</title>
</head>

<body>
    <div id="particles-js"></div>
    <div class="content-wrapper">
        <div class="containerALL">
            <h1 class="text-center white">Post Your Job</h1>
            <div class="container">
                <div class="form-section">
                    <form id="jobForm">
                        <input type="text" id="jobTitle" class="form-style" placeholder="Job Title" required><br>

                        <label for="jobDescription" class="white">Job Description:</label>
                        <textarea id="jobDescription" rows="10" required></textarea><br>

                        <label for="jobResponsibility" class="white">Job Responsibilities:</label>
                        <textarea id="jobResponsibility" rows="10" required></textarea><br>

                        <label for="jobQualification" class="white">Job Qualifications:</label>
                        <textarea id="jobQualification" rows="10" required></textarea><br>
                    </form>
                </div>

                <div class="form-section">
                    <label for="jobMode" class="white">Job Mode:</label><br><br>
                    <select id="jobMode" class="form-style" required>
                        <option value="fullTime">Full Time</option>
                        <option value="partTime">Part Time</option>
                        <option value="contract">Contract</option>
                    </select><br><br><br>
                    <label for="salaryRange" class="white">Salary (Approximately):</label>
                    <input class="form-style" type="range" id="salaryRange" name="salaryRange" min="1000" max="100000"
                        step="1000" value="5000">
                    <p class="white">Selected Value: <span id="rangeValue">5000</span></p><br>
                    <label for="birthdayDate" class="form-label white">Job Deadline:</label>
                    <input type="date" class="form-style" id="birthdayDate" max="2020-12-31" /><br><br><br>
                    <label class="white">Required Skills:</label>
                    <div class="skills-section" id="skillsSection">
                        <!-- Skills will be dynamically added here -->
                    </div>
                    <button type="button" class="add-button btn" onclick="addSkillInput()">+ Add skill</button>
                </div>
            </div>
            <div id="postedJobs"></div>
            <button type="submit" class="btn" style="width: 75vw; position: relative; left: 7%;">Post Job</button>

        </div>
    </div>
    <script src="static/js/job-post.js"></script>
    <script src="static/node_modules/particles.js/particles.js"></script>
    <script src="static/js/myparticles.js"></script>
</body>

</html>